@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .name-gradient {
    background: -webkit-linear-gradient(
      0deg,
      #dddded 5.26%,
      #545462 80.61%,
      #b4b4c7 101.07%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .header-gradient {
    background: -webkit-linear-gradient(270deg, #5c5c67 0%, #ffffff 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
